{% extends 'layout.html' %}
{% block c %}
<div class="content-section">
    <form method="POST" action="" enctype="multipart/form-data">
        {{f.hidden_tag()}}          <!--to protect our app-->
        <fieldset class="form-group">
            <legend class="border-bottom mb-4" style="font-family: cursive;color: lightcoral;">Login</legend>
            <div class="form-group">
              {{f.email.label(class="form-control-label")}}
              <br>
              {% if f.email.errors %}
                   {{f.email(class="form-control form-control-lg is-invalid")}}
                   <div class="invalid-feedback">
                       {% for e in f.email.errors %}
                          <span>{{e}}</span>
                       {% endfor %}
                   </div>
              {% else %}
                   {{f.email(placeholder="Enter email here" , class="form-control form-control-lg")}}
              {% endif %}
         </div>
         <div class="form-group">
           {{f.password.label(class="form-control-label")}}
           <br>
           {% if f.password.errors %}
                {{f.password(class="form-control form-control-lg is-invalid")}}
                <div class="invalid-feedback">
                   {% for e in f.password.errors %}
                        <span>{{e}}</span>
                   {% endfor %}
                </div>
           {% else %}
                {{f.password(placeholder="Enter password here",class="form-control form-control-lg")}}
           {% endif %}
         </div>
        </fieldset>
        {{f.submit(class="btn btn-outline-info")}}
        </form>
        <small class="text-muted">
          <a class="ml-2" href="{{url_for('resetlink')}}">Forgot Password?</a> <!--login here is our function in route to login a sit directs to login.html-->
         </small> 
    </div>
{% endblock c%}