{% extends 'layout.html' %}
{% block c %}
<div class="content-section">
<form method="POST" action="" enctype="multipart/form-data">
    {{f.hidden_tag()}}          <!--to protect our app-->
    <fieldset class="form-group">
        <legend class="border-bottom mb-4" style="font-family: cursive;color: lightcoral;">Join Today</legend>
        <div class="form-group">
          {{f.name.label(class="form-control-label")}}
          <br>
          {% if f.name.errors %}
               {{f.name(class="form-control form-control-lg is-invalid")}}
               <div class="invalid-feedback">
                   {% for e in f.name.errors %}
                      <span>{{e}}</span>
                   {% endfor %}
               </div>
          {% else %}
               {{f.name(placeholder="Enter name here" , class="form-control form-control-lg")}}
          {% endif %}
        </div>
        <div class="form-group">
            {{f.year.label(class="form-control-label")}}
            <br>
            {% if f.year.errors %}
                 {{f.year(class="form-control form-control-lg")}}
                 <div class="invalid-feedback">
                    {% for e in f.year.errors %}
                         <span>{{e}}</span>
                    {% endfor %}
                 </div>
            {% else %}
                 {{f.year(class="form-control form-control-lg")}}
            {% endif %}
        <div class="form-group">
          {{f.email.label(class="form-control-label")}}
          <br>
          {% if f.email.errors %}
               {{f.email(class="form-control form-control-lg is-invalid")}}
               <div class="invalid-feedback">
                   {% for e in f.email.errors %}
                      <span>{{e}}</span>
                   {% endfor %}
               </div>
          {% else %}
               {{f.email(placeholder="Enter email here" , class="form-control form-control-lg")}}
          {% endif %}
     </div>
     <div class="form-group">
       {{f.password.label(class="form-control-label")}}
       <br>
       {% if f.password.errors %}
            {{f.password(class="form-control form-control-lg is-invalid")}}
            <div class="invalid-feedback">
               {% for e in f.password.errors %}
                    <span>{{e}}</span>
               {% endfor %}
            </div>
       {% else %}
            {{f.password(placeholder="Enter password here",class="form-control form-control-lg")}}
       {% endif %}
     </div>
     <div class="form-group">
        {{f.Confirm.label(class="form-control-label")}}
        <br>
        {% if f.Confirm.errors %}
             {{f.Confirm(class="form-control form-control-lg is-invalid")}}
             <div class="invalid-feedback">
                {% for e in f.Confirm.errors %}
                     <span>{{e}}</span>
                {% endfor %}
             </div>
        {% else %}
             {{f.Confirm(placeholder="Confirm password here",class="form-control form-control-lg")}}
        {% endif %}
      </div>
      <div class="form-group">
          {{f.address.label(class="form-control-label")}}
          <br>
          {% if f.address.errors %}
               {{f.address(class="form-control form-control-lg is-invalid")}}
               <div class="invalid-feedback">
                  {% for e in f.address.errors %}
                       <span>{{e}}</span>
                  {% endfor %}
               </div>
          {% else %}
               {{f.address(placeholder="Enter address here",class="form-control form-control-lg")}}
          {% endif %}
        </div>
        <div class="form-group">
          {{f.mobileno.label(class="form-control-label")}}
          <br>
          {% if f.mobileno.errors %}
               {{f.mobileno(class="form-control form-control-lg is-invalid")}}
               <div class="invalid-feedback">
                   {% for e in f.mobileno.errors %}
                      <span>{{e}}</span>
                   {% endfor %}
               </div>
          {% else %}
               {{f.mobileno(placeholder="Enter mobileno here" , class="form-control form-control-lg")}}
          {% endif %}
        </div>
        <div class="form-group">
          {{f.city.label(class="form-control-label")}}
          <br>
          {% if f.city.errors %}
               {{f.city(class="form-control form-control-lg is-invalid")}}
               <div class="invalid-feedback">
                  {% for e in f.city.errors %}
                       <span>{{e}}</span>
                  {% endfor %}
               </div>
          {% else %}
               {{f.city(placeholder="Enter city here",class="form-control form-control-lg")}}
          {% endif %}
        </div>
      <div class="form-group">
          {{f.pic.label(class="form-control-label")}}
          <br>
          {% if f.pic.errors %}
               {{f.pic(class="form-control form-control-lg")}}
                {% for e in f.pic.errors %}
                      <span class="text-danger">{{e}}</span>
                {% endfor %}
          {% else %}
               {{f.pic()}}
          {% endif %}
      </div>
    </fieldset>
    {{f.submit(class="btn btn-outline-info")}}
    </form>
    <small class="text-muted">
     Already have an account? <a class="ml-2" href="{{url_for('login')}}">Sign In</a> <!--login here is our function in route to login a sit directs to login.html-->
   </small> 
</div>
{% endblock c %}