{% extends 'layout.html' %}
{% block c %}
<div class="content-section">
<form method="POST" action="" enctype="multipart/form-data">
    {{f.hidden_tag()}}          <!--to protect our app-->
    <fieldset class="form-group">
    <legend class="border-bottom mb-4" style="font-family: cursive;color: lightcoral;">Reset Password</legend>
     <div class="form-group">
       {{f.password.label(class="form-control-label")}}
       <br>
       {% if f.password.errors %}
            {{f.password(class="form-control form-control-lg")}}
            <div class="invalid-feedback">
               {% for e in f.password.errors %}
                    <span>{{e}}</span>
               {% endfor %}
            </div>
       {% else %}
            {{f.password(placeholder="Enter password here",class="form-control form-control-lg")}}
       {% endif %}
     </div>
     <div class="form-group">
        {{f.Confirm.label(class="form-control-label")}}
        <br>
        {% if f.Confirm.errors %}
             {{f.Confirm(class="form-control form-control-lg")}}
             <div class="invalid-feedback">
                {% for e in f.Confirm.errors %}
                     <span>{{e}}</span>
                {% endfor %}
             </div>
        {% else %}
             {{f.Confirm(placeholder="Confirm password here",class="form-control form-control-lg")}}
        {% endif %}
      </div>
    </fieldset>
    {{f.submit(class="btn btn-outline-info")}}
    </form>
</div>
{% endblock c %}